.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.image-list:hover,
.card.image-list.active {
  border-color: #5cb85c;
  background-color: rgba(92, 184, 92, 0.3);
  cursor: pointer;
}
