@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card.media:hover,
.card.media.active {
  border-color: #0275d8;
  background-color: rgba(2, 117, 216, 0.2);
  cursor: pointer;
}
