<div class="card">
  <div class="card-block">
    <div NgDropFiles [ngClass]="{'file-over': isDropZoneOver}" (fileOver)="fileOverDropZone($event)" [files]="files" class="well drop-zone">
      <h4>Drop Your Files Here</h4>
      <div>
        <i class="fa fa-upload" aria-hidden="true" style="font-size:35px;"></i>
      </div>
    </div>
    <br/>
    <div class="text-right">
      <button type="button" class="btn btn-success" (click)="uploadImagesToFirebase()" [disabled]="files?.length == 0 || !isEnabledUpload">
                <i class="fa fa-upload" aria-hidden="true"></i> Upload
            </button>
      <button type="button" class="btn btn-danger" (click)="clearFiles()">
                <i class="fa fa-times" aria-hidden="true"></i> Clear files
            </button>
    </div>
  </div>
  <table class="table" width="100%" *ngIf="files.length > 0">
    <thead>
      <tr>
        <th colspan="3"><i class="fa fa-files-o" aria-hidden="true"></i> Uploaded Files</th>
      </tr>
      <tr>
        <th width="30%">Name</th>
        <th width="20%">Size</th>
        <th width="50%">Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files">
        <td class="text">
          <span [ngClass]="{'text-green': item.isUploading}" class="text-truncate" [innerHtml]="item?.file?.name">
                        
                    </span>
        </td>
        <td nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
        <td>
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
              <div>{{item.progress | number:"1.0-1"}}%</div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
