<br/><br/><br/><br/>

<div class="container text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">
          <img class="card-img-top" src="assets/food.png" width="48" alt="Card image cap">
        </div>
        <div class="card-block">
          <h4 class="card-title">Filipino Food Delicacies</h4>
          <p class="card-text"></p>
          <button class="btn btn-primary login" (click)="signInWithGoogle()">Login</button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
